/* 一些预定义的页面样式 */
body{
    font-family: Arial,sans-serif;
    color: #333333;
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: #333333;
}
div{
    border: none;
}
input{
    border: none;
}
img{
    display: block;
}
/* 主题样式 */
/* header style */
.header{
    height: 60px;
    background-color: #96b97d; 
}
.header .top{
    height: 60px;
    width: 1200px;
    margin: 0px auto;
    clear: both;
}
.header .top_left{
    float: left;
    height: 60px;
}
.header .top_left a{
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #f5f5f5;
}
.header .top_search{
    height: 60px;
    line-height: 60px;
    float: right;
    width: 350px;
}
.header .top_search #search{
    border: none;
    height: 30px;
    width: 100%;
    text-indent: 10px;
}
.logo{
    height: 100px;
}
.logo img{
    margin: 10px auto 0px;
}
.nav{
    height: 500px;
}
.nav .navBox{
    width: 1200px;
    height: 500px;
    margin: 0px auto;
    clear: both;
    border-bottom: 2px dashed #868585;
}
.nav .nav_left{
    float: left;
    width: 150px;
    border: #b3b0b0 solid 2px;
    background-color: white;
    box-shadow: 10px 10px 5px;
    margin-left: 50px;
    margin-top: 50px;
}
.nav_left ul{
    list-style: none;
}
.nav_left ul li{
    height: 40px;
    line-height: 30px;
    text-align:center;
    border-bottom: 2px solid #d6d1d1;
}
.nav_left ul li:first-child{
    background-color: #96b97d;
    font-size: 25px;
    border-bottom: 2px double #333333;
}
.nav_left  ul a{
    font-size: 18px;
}
.nav_left  ul  li.nc{
    background-color: #d4d1d1;
}
/* style end */
.nav_right{
    width: 600px;
    margin-left: 150px;
    float: left;
    margin-top: 20px;
}
.nav_right img{
    width: 700px;
    float: left;
}
.bottom{
    height: 200px;
    background-color:#b3b0b0;
}
.bottom .botBox{
    height: 200px;
    width: 1000px;
    margin: 0px auto;
    clear: both;
    color: #eeeeee;
}
.bottom .botBox .firstlist{
    height: 200px;
    width: 250px;
    float: left;
    background-color: #96b97d;
}
.bottom .botBox .firstlist li{
    margin: 20px 20px;
    font-size: 20px; 
    line-height: 15px;
}
.bottom .botBox .firstlist li:first-child{
    list-style: none;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.bottom .botBox .secondlist{
    height: 200px;
    width: 250px;
    float: left;
    color: #eeeeee;
}
.bottom .botBox .secondlist li{
    margin: 20px 20px;
    font-size: 20px;
    line-height: 15px;
}
.bottom .botBox .secondlist li a{
    color: #333333;
}
.bottom .botBox .secondlist li:first-child{
    list-style: none;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
}
.bottom .botBox .about1{
    height: 200px;
    width: 250px;
    float: left;
    background-color: #96b97d;
}
.bottom .botBox .about1 .img{
    height: 100px;
    width: 250px;
    position: relative;
}
.bottom .botBox .about1 .img img{
    position: absolute;
    top: 60%;
    left: 40%;
}
.bottom .botBox .about1 p{
    height: 35px;
    color: #eeeeee;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}
.bottom .botBox .about2{
    height: 200px;
    width: 250px;
    float: left;
}
.bottom .botBox .about2 .qrcode{
    height: 150px;
    width: 250px;
    position: relative;
}
.bottom .botBox .about2 .qrcode img{
    position: absolute;
    top: 20%;
    left: 20%;
}
.bottom .botBox .about2 p{
    height: 35px;
    color: #333333;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-top: 10px;
    top: 50%;
}
.copyright{
    height: 35px;
    width: 100%;
    background-color: #333333;
}
.copyright p{
    height: 35px;
    width: 100%;
    line-height: 35px;
    color: #eeeeee;
    text-align: center;
}
